<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <conversionRule conversionWord="sequence" converterClass="ec.animal.adoption.logger.Sequence"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.hibernate" level="ERROR"/>
</configuration>