runtime: java
env: flex

runtime_config:
  jdk: openjdk8
  server: jetty9

resources:
  cpu: 1
  memory_gb: 3.75
  disk_size_gb: 10

manual_scaling:
  instances: 1

env_variables:
  JAVA_OPTS: -Dspring.profiles.active=SPRING_PROFILE


